%body
  .side-bar
    .side-bar__user-name
      .top-items
        .top-items__name hadano
        %ul.top-items__iconlist
          %li
          = link_to "#", class: "top-items__icon" do
            = icon('fas', 'edit')
          %li
          = link_to "#", class: "top-items__icon" do
            = icon('fas', 'cog')
    .side-bar__group-list
      .group
        .group__name izzo
        .group__messages izzo
      .group
        .group__name izzo
        .group__messages izzo
      .group
        .group__name izzo
        .group__messages izzo
